
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@601&display=swap');


.krona-one-regular {
  font-family: "Krona One", sans-serif;
  font-weight: 400;
  font-style: normal;
}



*{ /*o '*' é usado para mencionar todo o conteudo da pagina*/
    margin: 0;
    padding: 0;
}

body{
 /*100% da largura da tela*/
    height: 100vh; /*100% da altura da tela*/
    background-color: #1213E1; /*cor de fundo*/
    color: white;
    box-sizing: border-box; /*faz com que o padding e a borda sejam incluidos na largura e altura totais do elemento*/
}
/*
sites para palheta de cores:
        ^coolors
        ^Adobe Color
        ^Color Hunt
*/

 .titulo-destaque{
    color: #36E036;
    margin: 0px;
    border: 2px  #36E036;
    padding: 0px ;
    
 }

 .apresentacao{
    margin: 10% 15%; /*centraliza o conteudo horizontalmente*/
    display: flex; /*flexbox*/
    align-items: center; /*alinha os itens no centro do eixo transversal*/
    justify-content: space-between;
 }



img{
    width: 200px;
    border-radius: 100px;
    border: 2px solid #22D4FD;
}
.apresentacao__texto{
    width: 615px; /*largura fixa para o texto*/
    display: flex; /*flexbox*/
    flex-direction: column; /*alinha os itens em coluna*/
    gap: 40px; /*espaçamento entre os itens*/;
}

.apresentacao__texto__titulo{
    font-size: 36px; /*tamanho da fonte do titulo*/
    font-family: "Krona One", sans-serif; /*fonte do titulo*/
}
.apresentacao__texto_paragrafo{
    font-size: 24px;
    font-family: "Montserrat", sans-serif; /*fonte do paragrafo*/
}

.apresentacao__texto__links{
    display: flex; 
    justify-content: space-between; 
}

.apresentacao__texto__links__botao{
    font-size: 24px;
    background-color: #E05812; /*cor de fundo do botao*/
    width: 280px;
    text-align: center; /*alinha o texto horizontalmente*/
    border-radius: 16px; /*borda arredondada*/
    padding: 21.5px 0px; /*espaçamento interno do botao*/
    text-decoration: none; /*remove o sublinhado do link*/
    color: black; /*cor do texto do botao*/
    font-family: "Montserrat", sans-serif; /*fonte do botao*/
    font-weight: 600; /*negrito*/
}