
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@601&display=swap');
/*
usamos as medidas relativas do tipo REM e % para deixar a pagina dinamica
    - a media REM é relativa ao tamanho da fonte raiz (html) e 1rem = 16px
    - a media % é relativa ao tamanho do elemento pai e 100% = 100% do tamanho do elemento pai
    - Evitar usar medidas fixas como PX, CM, MM, IN, PT e PC
    - Evitar usar a media VW e VH, pois elas são relativas a tela do dispositivo e podem causar problemas de responsividade
    - Usar a media EM com cuidado, pois ela é relativa ao tamanho da fonte do elemento pai e pode causar problemas de herança de estilos
    - Usar a media FR com cuidado, pois ela é relativa ao tamanho do container e pode causar problemas de layout
    - Usar a media CH com cuidado, pois ela é relativa ao tamanho do caracterer e pode causar problemas de layout
    - Usar a media EX com cuidado, pois ela é relativa ao tamanho da letra x e pode causar problemas de layout
    - Usar a media REM e % para deixar a pagina mais dinamica e responsiva
*/
:root{/*variaveis globais*/
    --cor-primaria:#493628;
    --cor-secundaria: #E4E0E1 ;
    --cor-terciaria:#AB886D ;
    --cor-quartenaria: #D6C0B3;
    --font-montserrat: 'Montserrat', sans-serif;
    --font-krona-one: 'Krona One', sans-serif;
    --font-krona-one-regular: 'Krona One', sans-serif;
    --font-size-pricipal: 2.25rem; /*36px*/
    --font-size-secundario: 1.5rem; /*24px*/
    --font-size-terciario: 1rem; /*20px*/
}
.krona-one-regular {
  font-family: "Krona One", sans-serif;
  font-weight: 400;
  font-style: normal;
}



*{ /*o '*' é usado para mencionar todo o conteudo da pagina*/
    margin: 0;
    padding: 0;
}

body{
 /*100% da largura da tela*/
    height: 100vh; /*100% da altura da tela*/
    background-color: var(--cor-primaria); /*cor de fundo*/
    color: var(--cor-secundaria);
    box-sizing: border-box; /*faz com que o padding e a borda sejam incluidos na largura e altura totais do elemento*/
}
.cabecalho{
    padding: 2% 0% 0% 15%; /*espaçamento interno do cabeçalho*/
    width: auto; /*largura do cabeçalho*/
}
.cabecalho__menu{
    display: flex; /*flexbox*/
    gap: 4rem; /*espaçamento entre os itens*/;
    justify-content: start; /*alinha os itens no inicio do eixo principal*/
}
.cabecalho__menu__link{
    font-family: var(--font-montserrat);
    font-weight: 1000; /*negrito*/
    font-size: var(--font-size-secundario);
    color: var(--cor-terciaria);
    text-decoration: none; /*remove o sublinhado do link*/;
}
/*
sites para palheta de cores:
        ^coolors
        ^Adobe Color
        ^Color Hunt
*/

 .titulo-destaque{
    color: var(--cor-terciaria);
    margin: 0px;
    border: 2px  var(--cor-terciaria);
    padding: 0px ;
    font-weight: 700;
    
 }

 .apresentacao{
    padding: 5% 15%; /*centraliza o conteudo horizontalmente*/
    display: flex; /*flexbox*/
    align-items: center; /*alinha os itens no centro do eixo transversal*/
    justify-content: space-between;
    gap: 3.75rem; /*espaçamento entre os itens*/;
 }



.foto-perfil{
    transition: 0.3s ease; /*tempo de transição*/
    width: 20rem; /*largura da imagem*/
    border-radius: 20px;
    border: 3px solid var(--cor-terciaria);
}

.foto-perfil:hover{
    transform: scale(1.2) translateY(-10px); /*aumenta o tamanho da imagem e a move para cima*/

}
.apresentacao__texto{
    width: auto; /*largura fixa para o texto*/
    display: flex; /*flexbox*/
    flex-direction: column; /*alinha os itens em coluna*/
    gap: 2.4rem; /*espaçamento entre os itens*/;
}

.apresentacao__texto__titulo{
    font-size: var(--font-size-pricipal); /*tamanho da fonte do titulo*/
    font-family: var(--font-krona-one); /*fonte do titulo*/
}
.apresentacao__texto_paragrafo{
    font-size: var(--font-size-terciario); /*tamanho da fonte do paragrafo*/
    font-family: var(--font-montserrat); /*fonte do paragrafo*/
    gap: 4rem; /*espaçamento entre os itens*/;
}

.apresentacao__texto__lista{
    display: flex; /*flexbox*/
    flex-direction: column; /*alinha os itens em coluna*/
    align-items: start; /*alinha os itens no inicio do eixo transversal*/
    gap: 1rem; /*espaçamento entre os itens*/;
     font-size: var(--font-size-terciario);
     font-family: var(--font-montserrat); /*fonte do paragrafo*/


}

dl dd{
    margin-left: 20px;
    margin-bottom: 10px;
}

.apresentacao__texto__paragrafo__link{
    color: var(--cor-terciaria) !important;  /*cor do link*/
    text-decoration: none; /*remove o sublinhado do link*/
}


.apresentacao__texto__links_subtitulo{
    font-family: var(--font-krona-one-regular);
    font-weight: 400;
    font-size: var(--font-size-secundario);
    
}


.apresentacao__conteudo__texto{
    text-decoration: none;
    color: var(--cor-quartenaria);
}

.apresentacao__texto__links{
    display: flex; 
    flex-direction: column; /*alinha os itens em coluna*/
    justify-content: space-between; 
    gap: 2rem; /*espaçamento entre os itens*/
    align-items: center; /*alinha os itens no centro do eixo transversal*/
}
.apresentacao__texto__links__certificado{
    display: flex; /*flexbox*/
    flex-direction: column; /*alinha os itens em coluna*/
    align-items: start; /*alinha os itens no inicio do eixo transversal*/
    gap: 0.5rem; /*espaçamento entre os itens*/
    margin-left: 4rem;
    
}

.apresentacao__texto__links__botao{
    display: flex; /*flexbox*/
    align-items: center; /*alinha os itens no centro do eixo transversal*/
    justify-content: center; /*centraliza o conteudo*/
    gap: 1rem; /*espaçamento entre os itens*/
    font-size: var(--font-size-secundario);
    width: 100%; /*largura do botao  */
    border-radius: 8px; /*borda arredondada*/
    padding: 1.34rem 0px; /*espaçamento interno do botao*/
    text-decoration: none; /*remove o sublinhado do link*/
    color: var(--cor-secundaria); /*cor do texto do botao*/
    font-family: var(--font-montserrat); /*fonte do botao*/
    font-weight: 600; /*negrito*/
    border: 3px solid var(--cor-terciaria); /*cor da borda do botao*/

}
.apresentacao__texto__links__botao:hover{
    background-color: var(--cor-secundaria); /*cor de fundo do botao ao passar o mouse*/
    color: var(--cor-primaria); /*cor do texto do botao ao passar o mouse*/
    transition: 0.3s; /*tempo de transição*/
    cursor: pointer; /*muda o cursor para uma mãozinha*/
    transform: scale(1.1) translateY(-2px); /*aumenta o tamanho do botao e o move para cima*/
}
.apresentacao__texto__links__botao:hover .logo{
    border: 2px solid var(--cor-primaria); /*cor da borda do botao ao passar o mouse*/
}

.logo{
    border: 2px solid var(--cor-quartenaria);
    width: 2rem;
    height: 2rem;
}
.rodape{
    display: flex;
    justify-content: center;
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
    padding: 1.5rem;
    font-family: var(--font-montserrat);
    font-size: var(--font-size-secundario);
    font-weight: 400;
}

/* estudar mais sobre media queries */
@media (max-width: 1200px){
    .cabecalho{
        padding: 10%;
    }
    .cabecalho__menu{
        justify-content: center; /*centraliza os itens no eixo principal*/
        width: auto; /*largura do cabeçalho*/
        gap: 3rem; /*espaçamento entre os itens*/;
    }
    .apresentacao{
        flex-direction: column-reverse; /*alinha os itens em coluna*/
        text-align: center; /*centraliza o texto*/
    }
    .apresentacao__texto{
        width: auto; /*largura fixa para o texto*/
    }
    
}

@media (max-width: 674px){
    .cabecalho__menu{
        gap: 1rem;  /*espaçamento entre os itens*/;
    }  
}

@media (min-width: 3100px){
    .apresentacao{
        gap: 200px; /*espaçamento entre os itens*/;
    }   
}